


<h1>Update Song</h1>

<form action="/songs/<%= @song.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <br><br>
  
      
      <br>
        <input type="text" name="artist[name]" value="<%=@song.artist.name%>" id="artist_name" placeholder="Artist Name"></input>
        <br><br>

     

    <input type="submit" value="Save">
    
</form>